<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>08_servlet_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
	<servlet>
		<servlet-name>FactorialServlet</servlet-name>
        <servlet-class>com.gdsc.FactorialServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FactorialServlet</servlet-name>
		<url-pattern>/factorial</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AgeServlet</servlet-name>
        <servlet-class>com.gdsc.AgeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgeServlet</servlet-name>
		<url-pattern>/age</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
  
</web-app>